@import "../../global.scss";

.style {
  font-family: $font-family;
  background: $orange-color;
  font-size: 30px;
  color: white;
  border: none;
  width: 100%;
  border-radius: 38px;
  padding-top: 14px;
  padding-bottom: 18px;
  cursor: pointer;
  &:active {
    border: none;
    background: $gray-color;
    transition-duration: 0.5s;
    transform: translateY(4px);
  }
  &:focus {
    border: none;
    background: $gray-color;
  }
  &:hover {
    background: $black-color;
    transition-duration: 0.5s;
  }
}

.disabled {
  background: $disabled-color;
  pointer-events: none;
}
