$orange-color: #ff9514;
$black-color: #111111;
$gray-color: #575757;
$disabled-color: #ffd5a1;
$light-black-color: #575757;
$input-color: #f3f3f4;
$input-disabled-color: #f3f3f4;
$icon-color: #e0e0e0;

$font-family: "Oswald", serif;
